@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav-bar {
  height: 10%;
  background-color: #ffcc08;
}

.main-area {
  margin-left: 50px; 
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap; 
  gap: 25px;
  padding-top: 50px;
  /* justify-content: center;  */
}

.main-body {
  height: 80%;
  background-color: rgba(196, 190, 190, 0.2);
}

.card {
  margin-top: 30px;
  height: 400px;
  max-width: 400px;
  border: 2px solid rgba(128, 128, 128, 0.318);
  border-radius: 15px;
  background-color: white;
}

.changeTitle {
  color: #ffcc08;
  margin: 30px;
}

.changeDesc {
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: normal;
  margin: 0 30px;
}

.changeLinkTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 30px;
  text-decoration: underline;
  text-decoration-color: rgba(128, 128, 128, 0.412);
  text-decoration-thickness: 2px;
  text-underline-position: under;
  color: rgb(153, 153, 153);
}

.changeImage {
  height: 190px;
  width: 185px;
  position: relative;
  left:100px;
}

.footer-bar {
  height: 10%;
  background-color: #ffcc08;
}

@media screen and (max-width:1370px){
  .card {
    margin-top: 30px;
    height: 400px;
    max-width: 200px;
    border: 2px solid rgba(128, 128, 128, 0.318);
    border-radius: 15px;
    background-color: white;
  }

  .changeImage {
    height: 100px;
    width: 145px;
    position: relative;
    left:100px;
  }
  
  
}