@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {

  height: 100vh;

  margin: 0 !important;
  padding: 0 !important;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;

}

.nav-bar {

  height: 10vh;
  background-color: #ffcc08;

}

.card-wrapper {

  height:100%;
  margin-left: 96px;
  margin-right: 96px;

  display: flex;
  gap: 25px;

}

.main-body {

  height: 80%;
  background-color: rgba(196, 190, 190, 0.2);

}

.details {

  display: flex;
  flex-direction: column;

  padding: 0 30px;

}


.card {

  display: flex;
  flex-direction: column;


  border: 1px solid rgba(128, 128, 128, 0.318);
  border-radius: 15px;

  background-color: white;
  
  margin: auto;
  height:100%;
  max-height: 450px;

}

.ImageInDiv {

  display: flex;
  align-items: end;
  align-self: end;

  margin-top: auto;

  width:190px; 
   height:190px;

}


.Title {

  color: #ffcc08;

  font-weight: 800;
  font-size: 25px;
  text-wrap: wrap;

  margin: 30px 0 8px;
  
}

.Desc {
  
  color: rgb(153, 153, 153);

  font-size: 20px;
  font-weight: normal;
  text-wrap: wrap;

  margin: 0 0 15px;
  
}

.LinkTitle {

  font-size: 16px;
  font-weight: bold;

  text-decoration: underline;
  text-decoration-color: rgba(128, 128, 128, 0.2);
  text-decoration-thickness: 2px;
  text-underline-position: under;
  color: rgb(153, 153, 153);

  margin: 0;
  
}

.LinkTitle:hover {

  color: #ffcc08;
  text-decoration-color: #ffcc08;
  cursor: pointer;

}

.Image {

  height: 100%;
  width:100%;

}

.footer-bar {
  
  height: 10%;
  background-color: #ffcc08;

}

