@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  height: 100vh;
  width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.card{
    max-height: 450px;
    height:100%;
    width:100%;
    border: 2px solid rgba(128, 128, 128, 0.318);
  border-radius: 15px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  padding: 20px; 
}

.nav-bar {
  height: 10%;
  background-color: #ffcc08;
}
.main-area {
  height: 100%;
  display: flex;
  gap: 30px;
  padding: 40px 10%;
}


.imageHeight{
    height: 190px;
    width: 185px;
    position: relative;
    left: 100px;
    top: 50px;
}
.headingColor {
  color: #ffcc08;
  text-wrap: wrap;
}

.ChangeDescription {
  color: gray;
  font-size: 20px;
  margin: 0px 30px;
}

.ChangeLink {
  font-size: 16px;
  color: gray;
  font-weight: bold;
  margin: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(128, 128, 128, 0.412);

  text-decoration-thickness: 2px;
  text-underline-position: under;
}
.imagePadding{
    padding:20px;
} 